<table class="table table-condensed">
  <tr style="background-color:#708DC6;">
    <th>Name</th>
    <th>Description</th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <td><%= category.description %></td>
    <td class="text-right">
      <%= link_to "Edit", edit_category_path(category), :class => "btn btn-warning btn-xs", :remote => true %>
      <%= link_to "Delete", category, method: :delete, data: { confirm: "Are you sure?" }, :class => "btn btn-danger btn-xs", :remote => true %>
    </td>
  </tr>
<% end %>
</table>